<!DOCTYPE html>
<html lang="pt-br">

<%- include('includes/head') %>

<body>

    <%- include('includes/navbar') %>

    <h1>Alterar Grupo</h1>

    <form action="/grupos/alterar/<%= grupo.id %>" method="POST">
        <!-- <input type="hidden" name="id" value="<%= filme.id %>" -->
        
        <label for="nome">Nome</label>
        <input type="text" name="nome" value="<%= grupo.nome %>">
        <br /><br />

        <label for="genero">Genero</label>
        <input type="text" name="genero">
        <br /><br />

        <label for="sinopse">Sinopse</label>
        <input type="text" name="sinopse">
        <br /><br />
        
        <label for="lancamento">Lançado em</label>
        <input type="date" name="lancamento">
        <br /><br />

        <input type="submit" value="ATUALIZAR">
        <br /><br />        

    </form>

    <%- include('includes/script') %>    

</body>
</html>