<!DOCTYPE html>
<html lang="pt-br">

<%- include('includes/head') %>

<body>

    <%- include('includes/navbar') %>    

    <h1>Grupo <%= grupo.nome %></h1>
    <h2>Grupo id <%= grupo.id %></h2>
    
    <h3>Grupo admin <%= grupo.adm %></h3>

    <br/><br/>
</body>
</html>