<!DOCTYPE html>
<html lang="pt-br">

<%- include('includes/head') %>

<body>

    <%- include('includes/navbar') %>    

    <% if (user) { %>
      <h1>Olá <%= user.nome %></h1>
    <% } %>

    <div class="links">
      <h1>Lista de todos os grupos</h1>
    </div>

    <table id="filmes" class="filmes1">
        <tr>
          <th>Numero de membros</th>
          <th>Nome</th>
          <th></th>
        </tr>
        <% grupos.forEach(grupo => { %>
          <tr>
            <td><%= grupo.qtde %></td>
            <td><%= grupo.nome %></td>
            <td> <a href="/grupos/<%=grupo.id%>">Detalhes</a>  </td>
          </tr>
        <% }) %>
    </table>

    <div class="links">
    <% for (let i = 1; i <= Math.ceil(qtdeGrupos/5); i++) { %>
      <a class="pages" href="/grupos?page=<%= i %>"><%= i %></a>
    <% } %>
  </div>

    <%- include('includes/script') %>    
</body>

</html>